body {
    color: white;
    background-color: #202020;
}

.info {
    background-image: url("././photos/bg.png");
    background-repeat: no-repeat;
    text-align: center;
    height: 900px;
    background-size: 100%;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: absolute;
    height: 28px;
    left: calc(50% - 208px/2);
    top: 276px;
    }

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 25px;
    position: absolute;
    width: 594px;
    height: 84px;
    left: calc(50% - 594px/2);
    top: 329px;
}

p {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
position: absolute;
width: 460px;
height: 60px;
left: calc(50% - 460px/2);
top: 438px;
}

.btn {
padding: 18px 30px 18px 30px;
color: black;
background-color: white;
width: 200px;
border-radius: 50px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.1em;
text-transform: uppercase;
margin-top: 500px;
}

.col {
position: static;
width: 386px;
height: 280px;
left: 0px;
top: 0px;
flex: none;
order: 0;
flex-grow: 1;
margin: 40px 20px;
}